# Project Dependencies
/bower_components
/jspm_packages
/node_modules
/vendor

# Generated build zip
/*.zip

# Generated Directories
/_site
/bin
/build
/cache
/dist
/env
/out
/public
/release
/releases
/site
/temp
/tmp

# Logs
*.log
*.log*
log/
logs/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Other
/tags
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.env
.eslintcache
.fseventsd
.fuse_hidden*
.grunt
.LSOverride
.nfs*
.npm
.project
.Python
.sass-cache/
.Spotlight-V100
.svn/
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode
.vscode/*
.yarn-integrity
*.css.map
*.DS_Store
*.lnk
*.pid
*.pid.lock
*.seed
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
$RECYCLE.BIN/
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
Icon
Network Trash Folder
pids
Temporary Items
Thumbs.db

